@model OrganiMedCore.Organization.ViewModels.OrganizationUnitPartViewModel

<h3>@T["Általános adatok"]</h3>
<div>@T["Name"] @Model.Name</div>
<div>@T["EESZT ID"] @Model.EesztId</div>
<div>@T["EESZT Name"] @Model.EesztName</div>
<div>@T["Típus"] @Model.OrganizationUnitType</div>
