@model IEnumerable<OrganizationLinkViewModel>
@using OrganiMedCore.Manager.ViewModels

<div class="mb-5 p-5 border-bottom">
    <h1 class="text-center display-3 m-0">@T["Tenantok"]</h1>
</div>

<ul class="list-unstyled">
    @foreach (var viewModel in Model.OrderBy(x => x.Name))
    {
        <li class="alert my-1 @(viewModel.IsActivated ? "alert-success" : "alert-danger")">
            <i class="fas fa-circle border-white @(viewModel.IsActivated ? "text-success" : "text-danger")"
               title="@T[viewModel.IsActivated ? "Aktív" : "Inaktív"]"></i>

            <strong>
                @if (!string.IsNullOrEmpty(viewModel.Hostname))
                {

                    <a href="@viewModel.Hostname">
                        @viewModel.Name
                        <small>@viewModel.Hostname</small>
                    </a>
                }
                else
                {
                    <a href="@viewModel.UrlPrefix">
                        @viewModel.Name
                        <small>/@viewModel.UrlPrefix</small>
                    </a>
                }
            </strong>
        </li>
    }
</ul>