@model OrganiMedCore.DiabetesCareCenterManager.Controllers.ImportPostViewModel

<h1>@T["Adatok importálása"]</h1>
<hr />

<form method="post" enctype="multipart/form-data" asp-route-action="Index">
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" required name="file" class="custom-file-input" id="input-file" />
                    <label class="custom-file-label" for="input-file">@T["Fájl kiválasztása..."]</label>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="FakeData">
                <label class="custom-control-label" asp-for="FakeData">@T["Adatok torzítása"]</label>
            </div>
            <small class="text-muted">
                @T["Email címek cseréje hamisra, véletlenszerű megújítási státuszok."]
            </small>
        </div>

        <div class="col text-right">
            <button type="submit" class="btn btn-primary">
                @T["Feltölt"]
            </button>
        </div>
    </div>
</form>

<script asp-name="jQuery"></script>
<script at="Foot">
    (function ($) {
        $(function () {
            $('#input-file').on('change', function (e) {
                var files = e.target.files;
                var $label = $('[for="input-file"]');
                if (!files || !files.length) {
                    $label.text('@T["Fájl kiválasztása..."]');

                    return;
                }

                if (files[0].type != "application/json") {
                    alert('@T["Nem engedélyezett formátum!"]');
                    $label.text('@T["Fájl kiválasztása..."]');
                    $('#input-file').val(null);

                    return;
                }

                $label.text(files[0].name);
            });
        });
    })(jQuery);
</script>